* {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  width: 70%;
}

form {
  padding: 1rem;
}

select {
  margin-left: 1.25rem;
}

fieldset {
  margin: 1.25rem;
  padding: 1rem;
}

label:after {
  content: "";
  display: table;
  margin-bottom: 1rem;
}

.submit {
  background-color: black;
  color: white;
  padding: .5rem;
  margin-left: 1rem;
}

#task-list {
  margin: 1rem 0 1rem 0;
  background-color: #ccc;
  border: 1px black solid;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
  font-size: .90rem;
}
.task-box li {
  padding: .25rem;
  text-decoration: underline;
}
